
@{
    ViewData["Title"] = "ForFilterAzurLanePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/merchandise/theme.css" rel="stylesheet" />

<div class="page-container page-element is-moved-by-drawer">
    <main class="main-content" id="MainContent" role="main">


        <div class="page-width">

            <header class="grid medium-up--grid--table section-header small--text-center">
                <div class="grid__item medium-up--one-half section-header__item">
                    <h1 class="section-header__title">
                        Azur Lane

                    </h1>

                </div>
                <div class="grid__item medium-up--one-half medium-up--text-right section-header__item">
                    <div id="shopify-section-collection-filters" class="shopify-section">
                        <div data-section-id="collection-filters" data-section-type="collection-filters">
                            <div class="collection-sort">
                                <label for="SortTags" class="collection-sort__label">Filter by</label>
                                <select name="SortTags" id="SortTags" aria-describedby="a11y-refresh-page-message a11y-selection-message" class="collection-sort__input">
                                    <option value="/collections/azur-lane">All</option>
                                    <option value="/collections/azur-lane/2020-black-friday">2020 Black Friday</option>
                                    <option value="/collections/azur-lane/2020-happy-sandys-day">2020 Happy Sandy's Day!</option>
                                    <option value="/collections/azur-lane/2020-valentines-month">2020 Valentine's Month</option>
                                    <option value="/collections/azur-lane/2021-easter">2021 Easter</option>
                                    <option value="/collections/azur-lane/2021-halloween">2021 Halloween</option>
                                    <option value="/collections/azur-lane/2021-thanksgiving">2021 Thanksgiving</option>
                                    <option value="/collections/azur-lane/all-products">All products</option>
                                    <option value="/collections/azur-lane/april-fools-day-2022">April Fool's Day 2022</option>
                                    <option value="/collections/azur-lane/azur-lane">Azur Lane</option>
                                    <option value="/collections/azur-lane/azur-lane-2nd-anniv">Azur Lane 2nd Anniv</option>
                                    <option value="/collections/azur-lane/azur-lane-3rd-anniv">Azur Lane 3rd Anniv</option>
                                    <option value="/collections/azur-lane/azur-lane-4th-anniv">Azur Lane 4th Anniv</option>
                                    <option value="/collections/azur-lane/black-friday-2022">Black Friday 2022</option>
                                    <option value="/collections/azur-lane/blanket">Blanket</option>
                                    <option value="/collections/azur-lane/halloween-lucky-bag-2022">Halloween Lucky Bag 2022</option>
                                    <option value="/collections/azur-lane/illustration">illustration</option>
                                    <option value="/collections/azur-lane/mouse-pad">Mouse Pad</option>
                                    <option value="/collections/azur-lane/mug">Mug</option>
                                    <option value="/collections/azur-lane/new-arrival">New Arrival</option>
                                    <option value="/collections/azur-lane/on-sale">On Sale</option>
                                    <option value="/collections/azur-lane/pillowcase">Pillowcase</option>
                                    <option value="/collections/azur-lane/pin">Pin</option>
                                    <option value="/collections/azur-lane/plushie">Plushie</option>
                                    <option value="/collections/azur-lane/poster">Poster</option>
                                    <option value="/collections/azur-lane/sd_comingsoon">sd_comingsoon</option>
                                    <option value="/collections/azur-lane/summer-supply-2022">Summer Supply 2022</option>
                                    <option value="/collections/azur-lane/valentines-day-2023">Valentine's Day 2023</option>
                                    <option value="/collections/azur-lane/valentine-s-day-2022">Valentine’s Day 2022</option>
                                </select>
                            </div><div class="collection-sort">
                                <label for="SortBy" class="collection-sort__label">Sort by</label>
                                <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message a11y-selection-message" class="collection-sort__input"><option value="manual" selected="selected">Featured</option><option value="best-selling">Best selling</option><option value="title-ascending">Alphabetically, A-Z</option><option value="title-descending">Alphabetically, Z-A</option><option value="price-ascending">Price, low to high</option><option value="price-descending">Price, high to low</option><option value="created-ascending">Date, old to new</option><option value="created-descending">Date, new to old</option></select>
                            </div>
                        </div>


                    </div>
                </div>
            </header>

            <div id="ItemForSearch" class="grid grid--no-gutters grid--uniform">

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/5" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599860748401" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Keycap Set | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_100x.jpg?v=1676257372 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_140x.jpg?v=1676257372 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_180x.jpg?v=1676257372 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_250x.jpg?v=1676257372 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_305x.jpg?v=1676257372 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_440x.jpg?v=1676257372 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_610x.jpg?v=1676257372 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_720x.jpg?v=1676257372 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_930x.jpg?v=1676257372 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_1080x.jpg?v=1676257372 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_100x.jpg?v=1676257372 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_140x.jpg?v=1676257372 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_180x.jpg?v=1676257372 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_250x.jpg?v=1676257372 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_305x.jpg?v=1676257372 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_440x.jpg?v=1676257372 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_610x.jpg?v=1676257372 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_720x.jpg?v=1676257372 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_930x.jpg?v=1676257372 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_1080x.jpg?v=1676257372 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_480x480.jpg?v=1676257372" alt="Azur Lane | Keycap Set | Valentine&#39;s Day 2023" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Keycap Set | Valentine's Day 2023</div>


                            <div class="product-card__price">


                                $20

                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/1" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599926906993" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Soft Blanket | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_100x.jpg?v=1676267251 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_140x.jpg?v=1676267251 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_180x.jpg?v=1676267251 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_250x.jpg?v=1676267251 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_305x.jpg?v=1676267251 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_440x.jpg?v=1676267251 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_610x.jpg?v=1676267251 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_720x.jpg?v=1676267251 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_930x.jpg?v=1676267251 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_1080x.jpg?v=1676267251 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_100x.jpg?v=1676267251 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_140x.jpg?v=1676267251 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_180x.jpg?v=1676267251 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_250x.jpg?v=1676267251 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_305x.jpg?v=1676267251 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_440x.jpg?v=1676267251 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_610x.jpg?v=1676267251 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_720x.jpg?v=1676267251 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_930x.jpg?v=1676267251 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_1080x.jpg?v=1676267251 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_480x480.jpg?v=1676267251" alt="Azur Lane | Soft Blanket | Valentine&#39;s Day 2023" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Soft Blanket | Valentine's Day 2023</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $52



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/4" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599878377585" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Commemorative Coin | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_100x.jpg?v=1676260010 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_140x.jpg?v=1676260010 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_180x.jpg?v=1676260010 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_250x.jpg?v=1676260010 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_305x.jpg?v=1676260010 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_440x.jpg?v=1676260010 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_610x.jpg?v=1676260010 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_720x.jpg?v=1676260010 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_930x.jpg?v=1676260010 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_1080x.jpg?v=1676260010 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_100x.jpg?v=1676260010 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_140x.jpg?v=1676260010 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_180x.jpg?v=1676260010 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_250x.jpg?v=1676260010 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_305x.jpg?v=1676260010 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_440x.jpg?v=1676260010 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_610x.jpg?v=1676260010 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_720x.jpg?v=1676260010 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_930x.jpg?v=1676260010 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_1080x.jpg?v=1676260010 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_480x480.jpg?v=1676260010" alt="Azur Lane | Commemorative Coin | Valentine&#39;s Day 2023" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Commemorative Coin | Valentine's Day 2023</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $18



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/3" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599880966257" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Phone Grip | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_100x.jpg?v=1676260588 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_140x.jpg?v=1676260588 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_180x.jpg?v=1676260588 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_250x.jpg?v=1676260588 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_305x.jpg?v=1676260588 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_440x.jpg?v=1676260588 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_610x.jpg?v=1676260588 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_720x.jpg?v=1676260588 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_930x.jpg?v=1676260588 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_1080x.jpg?v=1676260588 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_100x.jpg?v=1676260588 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_140x.jpg?v=1676260588 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_180x.jpg?v=1676260588 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_250x.jpg?v=1676260588 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_305x.jpg?v=1676260588 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_440x.jpg?v=1676260588 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_610x.jpg?v=1676260588 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_720x.jpg?v=1676260588 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_930x.jpg?v=1676260588 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_1080x.jpg?v=1676260588 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_3cfe3411-642d-4f7e-810f-9a09386c7248_480x480.jpg?v=1676260588" alt="Azur Lane | Phone Grip | Valentine&#39;s Day 2023" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Phone Grip | Valentine's Day 2023</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $12



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/azur-lane-2023-calendar-black-friday-2022" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471295172721" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | 2023 Calendar | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_100x.jpg?v=1668674996 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_140x.jpg?v=1668674996 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_180x.jpg?v=1668674996 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_250x.jpg?v=1668674996 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_305x.jpg?v=1668674996 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_440x.jpg?v=1668674996 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_610x.jpg?v=1668674996 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_720x.jpg?v=1668674996 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_930x.jpg?v=1668674996 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_1080x.jpg?v=1668674996 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_100x.jpg?v=1668674996 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_140x.jpg?v=1668674996 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_180x.jpg?v=1668674996 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_250x.jpg?v=1668674996 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_305x.jpg?v=1668674996 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_440x.jpg?v=1668674996 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_610x.jpg?v=1668674996 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_720x.jpg?v=1668674996 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_930x.jpg?v=1668674996 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_1080x.jpg?v=1668674996 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/0602192b64a3795735858d149176fff9_480x480.jpg?v=1668674996" alt="Azur Lane | 2023 Calendar | Black Friday 2022" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | 2023 Calendar | Black Friday 2022</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $15



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/azur-lane-character-cushion-black-friday-2022" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471234257009" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Character Cushion | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_100x.jpg?v=1668671780 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_140x.jpg?v=1668671780 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_180x.jpg?v=1668671780 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_250x.jpg?v=1668671780 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_305x.jpg?v=1668671780 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_440x.jpg?v=1668671780 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_610x.jpg?v=1668671780 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_720x.jpg?v=1668671780 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_930x.jpg?v=1668671780 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_1080x.jpg?v=1668671780 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_100x.jpg?v=1668671780 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_140x.jpg?v=1668671780 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_180x.jpg?v=1668671780 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_250x.jpg?v=1668671780 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_305x.jpg?v=1668671780 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_440x.jpg?v=1668671780 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_610x.jpg?v=1668671780 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_720x.jpg?v=1668671780 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_930x.jpg?v=1668671780 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_1080x.jpg?v=1668671780 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/db98c995abda939f81d2bf63b5488fdb_480x480.jpg?v=1668671780" alt="Azur Lane | Character Cushion | Black Friday 2022" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Character Cushion | Black Friday 2022</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $35



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/azur-lane-eugen-plushie-black-friday-2022" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471237075057" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Prinz Eugen Plushie | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_100x.jpg?v=1668671976 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_140x.jpg?v=1668671976 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_180x.jpg?v=1668671976 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_250x.jpg?v=1668671976 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_305x.jpg?v=1668671976 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_440x.jpg?v=1668671976 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_610x.jpg?v=1668671976 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_720x.jpg?v=1668671976 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_930x.jpg?v=1668671976 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_1080x.jpg?v=1668671976 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_100x.jpg?v=1668671976 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_140x.jpg?v=1668671976 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_180x.jpg?v=1668671976 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_250x.jpg?v=1668671976 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_305x.jpg?v=1668671976 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_440x.jpg?v=1668671976 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_610x.jpg?v=1668671976 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_720x.jpg?v=1668671976 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_930x.jpg?v=1668671976 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_1080x.jpg?v=1668671976 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/885a3b2e9e441c2dbb2d35b49a2e4cc3_480x480.jpg?v=1668671976" alt="Azur Lane | Prinz Eugen Plushie | Black Friday 2022" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Prinz Eugen Plushie | Black Friday 2022</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $45



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/azur-lane-formidable-plushie-black-friday-2022" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30528723157105" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Formidable Plushie | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_100x.jpg?v=1671184226 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_140x.jpg?v=1671184226 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_180x.jpg?v=1671184226 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_250x.jpg?v=1671184226 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_305x.jpg?v=1671184226 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_440x.jpg?v=1671184226 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_610x.jpg?v=1671184226 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_720x.jpg?v=1671184226 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_930x.jpg?v=1671184226 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_1080x.jpg?v=1671184226 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_100x.jpg?v=1671184226 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_140x.jpg?v=1671184226 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_180x.jpg?v=1671184226 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_250x.jpg?v=1671184226 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_305x.jpg?v=1671184226 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_440x.jpg?v=1671184226 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_610x.jpg?v=1671184226 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_720x.jpg?v=1671184226 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_930x.jpg?v=1671184226 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_1080x.jpg?v=1671184226 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cc856c57-c61b-47df-80c0-a94f2bdef3df_480x480.jpg?v=1671184226" alt="Azur Lane | Formidable Plushie | Black Friday 2022" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | Formidable Plushie | Black Friday 2022</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $45



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/azur-lane-new-jersey-mug-4th-anniv" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30107754823793" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | New Jersey Mug | 4th Anniv" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_100x.jpg?v=1660291044 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_140x.jpg?v=1660291044 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_180x.jpg?v=1660291044 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_250x.jpg?v=1660291044 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_305x.jpg?v=1660291044 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_440x.jpg?v=1660291044 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_610x.jpg?v=1660291044 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_720x.jpg?v=1660291044 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_930x.jpg?v=1660291044 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_1080x.jpg?v=1660291044 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_100x.jpg?v=1660291044 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_140x.jpg?v=1660291044 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_180x.jpg?v=1660291044 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_250x.jpg?v=1660291044 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_305x.jpg?v=1660291044 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_440x.jpg?v=1660291044 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_610x.jpg?v=1660291044 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_720x.jpg?v=1660291044 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_930x.jpg?v=1660291044 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_1080x.jpg?v=1660291044 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_b0ac20e1-28ac-4f51-81d1-154b4ba4cc10_480x480.jpg?v=1660291044" alt="Azur Lane | New Jersey Mug | 4th Anniv" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | New Jersey Mug | 4th Anniv</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $28



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

                <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->


                    <a href="/collections/azur-lane/products/azur-lane-t-shirt-4th-anniv" class="product-card advanced-preorder__Iterated">


                        <div class="product-card__image-container">
                            <div class="product-card__image-wrapper">
                                <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30107617329265" data-image-with-placeholder-wrapper="">
                                    <div style="padding-top:139.1304347826087%;">

                                        <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | T-Shirt | 4th Anniv" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_100x.jpg?v=1660286045 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_140x.jpg?v=1660286045 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_180x.jpg?v=1660286045 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_250x.jpg?v=1660286045 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_305x.jpg?v=1660286045 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_440x.jpg?v=1660286045 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_610x.jpg?v=1660286045 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_720x.jpg?v=1660286045 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_930x.jpg?v=1660286045 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_1080x.jpg?v=1660286045 1080w" sizes="149.5px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_100x.jpg?v=1660286045 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_140x.jpg?v=1660286045 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_180x.jpg?v=1660286045 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_250x.jpg?v=1660286045 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_305x.jpg?v=1660286045 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_440x.jpg?v=1660286045 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_610x.jpg?v=1660286045 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_720x.jpg?v=1660286045 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_930x.jpg?v=1660286045 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_1080x.jpg?v=1660286045 1080w">
                                    </div>
                                    <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                </div>
                                <noscript>
                                    <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/T_517a6fb2-210a-450f-b4b5-35478025c47c_480x480.jpg?v=1660286045" alt="Azur Lane | T-Shirt | 4th Anniv" class="product-card__image">
                                </noscript>
                            </div>
                        </div>
                        <div class="product-card__info">


                            <div class="product-card__name">Azur Lane | T-Shirt | 4th Anniv</div>


                            <div class="product-card__price">



                                <span class="visually-hidden">Regular price</span>
                                $30



                            </div>

                        </div>


                        <div class="product-card__overlay">

                            <span class="btn product-card__overlay-btn ">View</span>
                        </div>
                    </a>

                </div>

            </div>


            @* <div class="pagination">
            <span class="page current">1</span> <span class="page"><a href="/collections/azur-lane?page=2" title="">2</a></span> <span class="page"><a href="/collections/azur-lane?page=3" title="">3</a></span> <span class="page"><a href="/collections/azur-lane?page=4" title="">4</a></span> <span class="next"><a href="/collections/azur-lane?page=2" title="">→</a></span>
            </div>*@


        </div>



    </main>


</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/FilterFunction.js"></script>


