@{
    ViewData["Title"] = "MerchandisePage";

}

<link href="~/css/Merchandise/theme.css" rel="stylesheet" />
<link href="~/css/Merchandise/slideCart.css" rel="stylesheet" />
<link href="~/css/MERchandise/SliderPage.css" rel="stylesheet" />
<link href="~/css/Merchandise/_customer_Side_Cart.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family
         =Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!--=======================================  Slider  =============================================-->
@*<a href="https://youtu.be/kd_zuEYCDck" target="_blank" data-keyframers-credit style="color: #000"></a>*@
<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>

<input type="radio" name="scene" id="scene-1" value="1" checked />
<input type="radio" name="scene" id="scene-2" value="2" />
<input type="radio" name="scene" id="scene-3" value="3" />
<input type="radio" name="scene" id="scene-4" value="4" />

<main style="background-color:rgba(248, 248, 248, 1)" id="site">

    <div class="ocean" style="background-image: url(https://webusstatic.yo-star.com/mahjongsoul_us_web/mainsite/upload/wallpaper/2023/01/16/2mSlZf9U.jpeg);
   ">
        <div class="ocean-text">YoStar</div>
    </div>
    <div class="left-side">
        <div class="page-numbers" data-total="04">
            <div class="page-number -tens">0</div>
            <div class="page-number -ones">
                1<br />2<br />3<br />4
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="layer" data-scene="1">
            <h1 class="heading">
                We can help<br />
                to save<br />
                the Money
            </h1>
            @* <button class="button">
            How can I help?
            </button>*@
        </div>
        <div class="layer" data-scene="2">
            <h1 class="heading">
                Saving Money,<br />
                we save our<br />
                future
            </h1>
            @* <button class="button">
            How can I help?
            </button>*@
        </div>
        <div class="layer" data-scene="3">
            <h1 class="heading">
                Only you<br />
                can prevent<br />
                Money fires
            </h1>
            @*  <button class="button">
            How can I help?
            </button>*@
        </div>
        <div class="layer" data-scene="4">
            <h1 class="heading">
                Do not<br />
                litter on<br />
                the beach
            </h1>
            @*  <button class="button">
            How can I help?
            </button>*@
        </div>
    </div>

    <div class="right-content">

        <nav class="slide-nav">
            <div class="nav-button -prev">
                &lt;

                <label id="nav-toggle1" class="nav-toggle " for="scene-1">1</label>
                <label id="nav-toggle2" class="nav-toggle" for="scene-2">2</label>
                <label id="nav-toggle3" class="nav-toggle" for="scene-3">3</label>
                <label id="nav-toggle4" class="nav-toggle" for="scene-4">4</label>

            </div>
            <div class="nav-button -next">
                Next &gt;

                <label class="nav-toggle" for="scene-1">1</label>
                <label class="nav-toggle" for="scene-2">2</label>
                <label class="nav-toggle" for="scene-3">3</label>
                <label class="nav-toggle" for="scene-4">4</label>
            </div>
        </nav>


    </div>

    <!--===============================================First Third Products=================================================-->
    <div id="shopify-section-1592914021760" class="shopify-section index-section">
        <div class="page-width" data-section-id="1592914021760" data-section-type="collections-list">

            <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">

                <div class="grid__item medium-up--one-third">

                    <noscript>
                        <a href="/collections/valentines-day-2023" title="Automatic mahjong 2023 collection" class="featured-card">

                            <div class="featured-card__header">
                                <p class="h1 featured-card__title">Automatic mahjong 2023</p>
                                <span class="featured-card__action">View all</span>
                            </div>

                            <div class="featured-card__image-wrapper">

                                <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/collections/collection_86b728cb-7ad9-4ff2-9202-7bf22e1d6348_480x480.jpg?v=1676257271" alt="Automatic mahjong table 2023" class="featured-card__image">

                            </div>

                        </a>
                    </noscript>

                    <a href="~/CustomerStore/MahjongSoulPage" title="Automatic mahjong 2023 collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 466.8px;">

                        <div class="featured-card__header" style="height: 157px;">
                            <p class="h1 featured-card__title">Automatic mahjong 2023</p>
                            <span class="featured-card__action">View all</span>
                        </div>


                        <div class="featured-card__image-container" style="max-width: 330px; max-height: 330.0px;">
                            <div class="featured-card__image-wrapper" style="padding-top:100.0%;">

                                <img class="featured-card__image lazyloaded" src="https://buuz.tw/wp-content/uploads/20201230004205_55.jpg" alt="Automatic mahjong table 2023" srcset="


              " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 330.0px;width:330px;height:300px">

                            </div>
                        </div>

                    </a>
                </div>

                <div class="grid__item medium-up--one-third">


                    <noscript>
                        <a href="~/CustomerStore/AzurLanePage" title="Fully Mahjong Tiles collection" class="featured-card">

                            <div class="featured-card__header">
                                <p class="h1 featured-card__title">Fully Mahjong Tiles collection</p>
                                <span class="featured-card__action">View all</span>
                            </div>

                            <div class="featured-card__image-wrapper">

                                <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/collections/collection_0d30be88-9db0-4224-99ee-a577e6122a60_480x480.jpg?v=1672908741" alt="Fully Mahjong Tiles collection" class="featured-card__image">

                            </div>

                        </a>
                    </noscript>

                    <a href="~/CustomerStore/MahjongSoulPage" title="Fully Mahjong Tiles collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 466.8px;">

                        <div class="featured-card__header" style="height: 157px;">
                            <p class="h1 featured-card__title">Fully Mahjong Tiles</p>
                            <span class="featured-card__action">View all</span>
                        </div>


                        <div class="featured-card__image-container" style="max-width: 330px; max-height: 330.0px;">
                            <div class="featured-card__image-wrapper" style="padding-top:100.0%;">

                                <img class="featured-card__image lazyloaded" src="https://auctions.afimg.jp/e158501872/ya/image/e158501872.1.jpg" alt="Fully Mahjong Tiles collection" srcset="


              " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 330.0px;width:330px;height:300px">

                            </div>
                        </div>

                    </a>
                </div>
                <div class="grid__item medium-up--one-third">
                    <noscript>
                        <a href="~/CustomerStore/MahjongSoulPage" title="Browse our Black Friday 2022 collection" class="featured-card">

                            <div class="featured-card__header">
                                <p class="h1 featured-card__title">Azur Laneday 2022</p>
                                <span class="featured-card__action">View all</span>
                            </div>

                            <div class="featured-card__image-wrapper">

                                <img src="~/Image/azurlane.png" alt="Azur Laneday 2022" class="featured-card__image">

                            </div>
                        </a>
                    </noscript>

                    <a href="~/CustomerStore/AzurLanePage" title="Browse our Azur Laneday 2022 collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 466.8px;">

                        <div class="featured-card__header" style="height: 157px;">
                            <p class="h1 featured-card__title">Azur Laneday 2022</p>
                            <span class="featured-card__action">View all</span>
                        </div>
                        <div class="featured-card__image-container" style="max-width: 330px; max-height: 330.0px;">
                            <div class="featured-card__image-wrapper" style="padding-top:100.0%;">

                                <img class="featured-card__image lazyloaded" src="~/Image/azurlane.png" alt="Azur Laneday 2022" srcset="


              " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 330.0px;width:330px;height:300px">

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================Second Products====================================================-->
    
    <div id="shopify-section-1606272929248e220a" class="shopify-section index-section">
        <div class="page-width">
            <div class="section-block">
                <div class="grid grid--no-gutters grid--uniform collection">
                    <div class="grid__item small--one-half medium-up--one-fifth collection__cover">

                        <a href="~/CustomerStore/AzurLanePage" class="collection-card" style="background-image: url(//cdn.shopify.com/s/files/1/0025/7294/3473/collections/azurlane_480x480.png?v=1593341840);">
                            <div class="collection-card__meta">
                                <p class="h1 collection-card__title">Azur Lane</p>
                                <p class="collection-card__subtext">View all</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth collection__card--first ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=1" class="product-card advanced-preorder__Iterated">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599860748401" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Keycap Set | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_100x.jpg?v=1676257372 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_140x.jpg?v=1676257372 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_180x.jpg?v=1676257372 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_250x.jpg?v=1676257372 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_305x.jpg?v=1676257372 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_440x.jpg?v=1676257372 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_610x.jpg?v=1676257372 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_720x.jpg?v=1676257372 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_930x.jpg?v=1676257372 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_1080x.jpg?v=1676257372 1080w" sizes="160px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_100x.jpg?v=1676257372 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_140x.jpg?v=1676257372 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_180x.jpg?v=1676257372 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_250x.jpg?v=1676257372 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_305x.jpg?v=1676257372 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_440x.jpg?v=1676257372 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_610x.jpg?v=1676257372 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_720x.jpg?v=1676257372 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_930x.jpg?v=1676257372 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_1080x.jpg?v=1676257372 1080w">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_104bd74f-12ff-41cf-98b2-c64d562db8f1_480x480.jpg?v=1676257372" alt="Azur Lane | Keycap Set | Valentine&#39;s Day 2023" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">Azur Lane | Keycap Set | Valentine's Day 2023</div>
                                <div class="product-card__price">
                                    $20
                                </div>
                            </div>
                            <div class="product-card__overlay">
                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>
                    </div>
                    <div class="grid__item small--one-half medium-up--one-fifth ">
                        <!-- /snippets/product-card.liquid -->
                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=2" class="product-card advanced-preorder__Iterated">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599926906993" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Soft Blanket | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_100x.jpg?v=1676267251 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_140x.jpg?v=1676267251 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_180x.jpg?v=1676267251 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_250x.jpg?v=1676267251 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_305x.jpg?v=1676267251 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_440x.jpg?v=1676267251 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_610x.jpg?v=1676267251 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_720x.jpg?v=1676267251 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_930x.jpg?v=1676267251 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_1080x.jpg?v=1676267251 1080w" sizes="159px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_100x.jpg?v=1676267251 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_140x.jpg?v=1676267251 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_180x.jpg?v=1676267251 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_250x.jpg?v=1676267251 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_305x.jpg?v=1676267251 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_440x.jpg?v=1676267251 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_610x.jpg?v=1676267251 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_720x.jpg?v=1676267251 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_930x.jpg?v=1676267251 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_1080x.jpg?v=1676267251 1080w">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/697902e929eabd4643eb5d5a3e527df0_480x480.jpg?v=1676267251" alt="Azur Lane | Soft Blanket | Valentine&#39;s Day 2023" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">Azur Lane | Soft Blanket | Valentine's Day 2023</div>
                                <div class="product-card__price">
                                    <span class="visually-hidden">Regular price</span>
                                    $52
                                </div>
                            </div>
                            <div class="product-card__overlay">
                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>
                    </div>
                    <div class="grid__item small--one-half medium-up--one-fifth ">
                        <!-- /snippets/product-card.liquid -->
                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=20" class="product-card advanced-preorder__Iterated">
                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599919599729" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | 3D Mouse Pad | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_100x.jpg?v=1676266799 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_140x.jpg?v=1676266799 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_180x.jpg?v=1676266799 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_250x.jpg?v=1676266799 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_305x.jpg?v=1676266799 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_440x.jpg?v=1676266799 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_610x.jpg?v=1676266799 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_720x.jpg?v=1676266799 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_930x.jpg?v=1676266799 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_cbf80a54-8262-4307-b5a5-951a85628049_1080x.jpg?v=1676266799 1080w" sizes="159px" srcset="~/Image/AzurLane_PhoneGrip.png">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="~/Image/AzurLane_PhoneGrip.png" alt="Azur Lane | PhotoGrip | Valentine&#39;s Day 2023" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">Azur Lane | PhotoGrip | Valentine's Day 2023</div>
                                <div class="product-card__price">
                                    <span class="visually-hidden">Regular price</span>
                                    $30
                                </div>
                            </div>
                            <div class="product-card__overlay">
                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>
                    </div>
                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->
                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=18" class="product-card advanced-preorder__Iterated">
                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30599878377585" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Azur Lane | Commemorative Coin | Valentine's Day 2023" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_100x.jpg?v=1676260010 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_140x.jpg?v=1676260010 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_180x.jpg?v=1676260010 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_250x.jpg?v=1676260010 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_305x.jpg?v=1676260010 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_440x.jpg?v=1676260010 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_610x.jpg?v=1676260010 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_720x.jpg?v=1676260010 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_930x.jpg?v=1676260010 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_1080x.jpg?v=1676260010 1080w" sizes="159px" srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_100x.jpg?v=1676260010 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_140x.jpg?v=1676260010 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_180x.jpg?v=1676260010 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_250x.jpg?v=1676260010 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_305x.jpg?v=1676260010 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_440x.jpg?v=1676260010 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_610x.jpg?v=1676260010 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_720x.jpg?v=1676260010 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_930x.jpg?v=1676260010 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_1080x.jpg?v=1676260010 1080w">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/1_98ffce47-bb90-4d2e-97bc-9353c910127e_480x480.jpg?v=1676260010" alt="Azur Lane | Commemorative Coin | Valentine&#39;s Day 2023" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">Azur Lane | Commemorative Coin | Valentine's Day 2023</div>
                                <div class="product-card__price">
                                    <span class="visually-hidden">Regular price</span>
                                    $18
                                </div>
                            </div>
                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--==================================================Third Products====================================================-->
    <div id="shopify-section-1602644922e885b6c8" class="shopify-section index-section">
        <div class="page-width">
            <div class="section-block">


                <div class="grid grid--no-gutters grid--uniform collection">
                    <div class="grid__item small--one-half medium-up--one-fifth collection__cover">

                        <a href="~/CustomerStore/MahjongSoulPage" class="collection-card" style="background-image: url(//cdn.shopify.com/s/files/1/0025/7294/3473/collections/Mahjong_Soul_EN_logo_Final_Ver_1_480x480.png?v=1592299630);">
                            <div class="collection-card__meta">
                                <p class="h1 collection-card__title">Mahjong Soul</p>
                                <p class="collection-card__subtext">View all</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth collection__card--first ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=3" class="product-card advanced-preorder__Iterated">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471329874033" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Mahjong Soul | Christmas Wall Scroll Poster | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_100x.jpg?v=1668676893 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_140x.jpg?v=1668676893 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_180x.jpg?v=1668676893 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_250x.jpg?v=1668676893 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_305x.jpg?v=1668676893 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_440x.jpg?v=1668676893 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_610x.jpg?v=1668676893 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_720x.jpg?v=1668676893 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_930x.jpg?v=1668676893 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/5c29ba47bafdf404ae09a975c29f4ea2_1080x.jpg?v=1668676893 1080w" sizes="168.90625px"
                                                 srcset="https://cdn.shopify.com/s/files/1/0025/7294/3473/products/43e88c98f02d05c96625d87a29421a1e_480x.jpg?v=1655278104">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="https://cdn.shopify.com/s/files/1/0025/7294/3473/products/43e88c98f02d05c96625d87a29421a1e_480x.jpg?v=1655278104" alt="Mahjong Soul | Christmas Wall Scroll Poster | Black Friday 2022" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Mahjong Soul | Mahjong Soul Pon ☆ Blu-ray Disc</div>


                                <div class="product-card__price">



                                    <span class="visually-hidden">Regular price</span>
                                    $65



                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=4" class="product-card advanced-preorder__Iterated">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471334396017" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Mahjong Soul | Character Cushion | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_100x.jpg?v=1668677102 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_140x.jpg?v=1668677102 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_180x.jpg?v=1668677102 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_250x.jpg?v=1668677102 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_305x.jpg?v=1668677102 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_440x.jpg?v=1668677102 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_610x.jpg?v=1668677102 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_720x.jpg?v=1668677102 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_930x.jpg?v=1668677102 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/ca34ec3f59e43adce54893a47c38abf1_1080x.jpg?v=1668677102 1080w" sizes="168.90625px"
                                                 srcset="https://cdn.shopify.com/s/files/1/0025/7294/3473/products/7980c5640f8b4e3307a7468fc581bf01_720x.jpg?v=1640255938">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="https://cdn.shopify.com/s/files/1/0025/7294/3473/products/7980c5640f8b4e3307a7468fc581bf01_720x.jpg?v=1640255938" alt="Mahjong Soul | Character Cushion | Black Friday 2022" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Mahjong Soul | Character Rubber Key Charm | Christmas</div>


                                <div class="product-card__price">



                                    <span class="visually-hidden">Regular price</span>
                                    $12



                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=22" class="product-card advanced-preorder__Iterated">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471339049073" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Mahjong Soul | Table Mat | Black Friday 2022" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_100x.jpg?v=1668677292 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_140x.jpg?v=1668677292 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_180x.jpg?v=1668677292 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_250x.jpg?v=1668677292 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_305x.jpg?v=1668677292 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_440x.jpg?v=1668677292 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_610x.jpg?v=1668677292 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_720x.jpg?v=1668677292 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_930x.jpg?v=1668677292 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_1080x.jpg?v=1668677292 1080w" sizes="168.90625px"
                                                 srcset="https://cdn.shopify.com/s/files/1/0025/7294/3473/products/8b8179b676ee85fc352b5e9187944f62_480x.jpg?v=1640252732">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/e431947aed93162721dc191cce6c8f76_480x480.jpg?v=1668677292" alt="Mahjong Soul | Table Mat | Black Friday 2022" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Mahjong Soul | Ichihime Haori | Christmas</div>


                                <div class="product-card__price">



                                    <span class="visually-hidden">Regular price</span>
                                    $35



                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="~/CustomerStore/MerchandiseDetailsPage?id=23" class="product-card advanced-preorder__Iterated">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 168.90625px;" data-image-id="30471355400305" data-image-with-placeholder-wrapper="">
                                        <div style="padding-top:139.1304347826087%;">

                                            <img class="lazyautosizes lazyloaded" data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]" data-aspectratio="0.71875" data-sizes="auto" data-parent-fit="contain" data-image="" alt="Mahjong Soul | UI Key Charm" data-srcset="//cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_100x.jpg?v=1668678294 100w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_140x.jpg?v=1668678294 140w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_180x.jpg?v=1668678294 180w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_250x.jpg?v=1668678294 250w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_305x.jpg?v=1668678294 305w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_440x.jpg?v=1668678294 440w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_610x.jpg?v=1668678294 610w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_720x.jpg?v=1668678294 720w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_930x.jpg?v=1668678294 930w, //cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_1080x.jpg?v=1668678294 1080w" sizes="168.90625px"
                                                 srcset="https://cdn.shopify.com/s/files/1/0025/7294/3473/products/44c9af5f6859477dcb06a1903e3635ee_720x.jpg?v=1640252363">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation placeholder-background--hide" data-image-placeholder=""></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0025/7294/3473/products/33e902f84621a6e7f973f09e95494b3f_480x480.jpg?v=1668678294" alt="Mahjong Soul | UI Key Charm" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Mahjong Soul | Acrylic Phone Holder | Christmas</div>


                                <div class="product-card__price">



                                    <span class="visually-hidden">Regular price</span>
                                    $20



                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                </div>

            </div>
        </div>




    </div>
</main>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

@*   <script src="~/js/CustomerStore/SearchFunction.js"></script>
    <script src="~/js/CustomerStore/CartFunction1.js"></script>*@

<script>
    $(function () {
        var countScene = 0
        var Imagelink = {
            1: "url(https://webusstatic.yo-star.com/mahjongsoul_us_web/mainsite/upload/wallpaper/2023/01/16/2mSlZf9U.jpeg)",
            2: "url(https://webusstatic.yo-star.com/mahjongsoul_us_web/mainsite/upload/wallpaper/2023/01/16/qA9pJ2Tq.jpeg)",
            3: "url(https://webusstatic.yo-star.com/mahjongsoul_us_web/mainsite/upload/wallpaper/2023/01/16/9oJI1IE-.jpeg)",
            4: "url(https://webusstatic.yo-star.com/mahjongsoul_us_web/mainsite/upload/wallpaper/2023/01/16/N6tJBYDe.png)",

        }

        setInterval(function Slide() {
            countScene++
            countScene = countScene == 5 ? 1 : countScene
            $("#nav-toggle" + countScene).click();

            $(".ocean").css("background-image", Imagelink[countScene])
            //$("TABLE").append(Imagelink[@ViewBag.LoginRole])
        }, 5000)
    })

</script>